.popup-card{
    border: 1px solid #A12400;
    width: 200px;
    height: 100px;
    background-color: whitesmoke;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    .popup-option{
        cursor: pointer;
    }
}