.main-createChampionship {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1a; // Cor de fundo do seu site
  
    .form-createChampionship {
      background: #fff; // Cor de fundo do formulário
      padding: 40px;
      border-radius: 8px;
      width: 600px; // Ajuste para a largura desejada
  
      h1 {
        margin-bottom: 24px;
        text-align: center; // Centralizar título
      }
  
      .inputs-createChampionship {
        display: grid;
        grid-gap: 20px; // Espaço entre os campos
  
        .MuiInput-root {
          // Estilização dos inputs
        }
  
        .MuiButtonBase-root {
          // Estilização do botão de submissão
          width: 100%;
          padding: 10px;
          margin-top: 20px; // Espaço acima do botão
          background-color: #4CAF50; // Cor do botão
          color: white; // Cor do texto do botão
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-size: 16px;
          &:hover {
            background-color: #45a049; // Cor do botão ao passar o mouse
          }
        }
      }
    }
  }
  