
 .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Make the container at least the viewport height */
  }
.auth-inputs {
    display: flex;
    flex-direction: column; /* Stack labels and inputs vertically */
    width: 20%;
  }
  
 