.profile-card{
    width: auto;
    min-height: auto;
    background-color: whitesmoke; 
    margin: 30px;
    border-radius: 5px;
    margin-top: 115px;
    padding: 20px;
    position: relative;
    padding-bottom: 20px;
    .profile-info{
        display: flex;
        justify-content: space-between;
        .right-info{
            margin-top: 25px;
            margin-right: 20px;
            .time, .posicao{
                font-family: system-ui, sans-serif;
                font-size: 14px;
                font-weight: 600;
                line-height: 30px;
            }
            .posicao {
                margin-top: -15px;
            }
        }
    }
    .edit-btn {
        position: absolute;
        right: 20px;
        button{
         color: black;
         cursor: pointer;
        }     
    }
}
.userName{
        font-family: system-ui, sans-serif;
        color: rgba(0,0,0,0.9);
        font-weight: 600;
        font-size: 24px;
    }
.descricao{
  margin-top: -25px;
  font-family: system-ui, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0,0,0,0.9);
  width: 320px;
  line-height: 20px;
}
.cidade{
    font-size: 12px;
}