.post-status-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.post-status{
    width: 800px;
    height: 120px;
    background-color: whitesmoke;
    margin-top: 50px;
    border: 1px solid #b7b7b7;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    .post-image{
        width: 50px;
        height: 50px;
        margin: 10px;
    }
    .open-post-modal{
        width: 80%;
        height: 50px;
        text-align: left;
        color: rgba(84,84,84,0.89);
        background-color: whitesmoke;
        outline: none;
        border: 1px solid #b7b7b7;
        border-radius: 30px;  
        padding: 15;
        font-weight: 600;
        font-size: 14px;
        
    }
    .open-post-modal:hover{
        background-color: #dcdbdb;
          cursor: pointer;
    }
}
.user-details{
    width: 800px;
    min-height: 150px;
    background-color: whitesmoke;
    margin-top: 160px;
    border: 1px solid #b7b7b7;
    border-radius: 7px;  
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
      padding: 10px;
      margin-top: -80px;
    }
    .name-profile{
        font-weight: 600;
    }
    .headline-profile{
        margin-top: -15px;
    }
}
